{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Register</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label {{form.username.label}}></label>
        {{form.as_username}}
        <label {{form.password1.label}}></label>
        {{form.as_password1}}
        <label {{form.password2.label}}></label>
        {{form.as_password2}}
        <input style="margin-top: 10px" type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>


{%endblock content%}